@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Secular+One&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background: url('webbg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cake-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 1198px;
  height: 899px;
  object-fit: cover;
  opacity: 0.9;
}

.login-box, .signup-box {
  z-index: 2;
  background: #502A11;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  max-width: 480px; 
  width: 100%;
}

.logo img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Secular One', sans-serif;
  font-size: 40px;
  color: #d0ab81;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  white-space: nowrap;
}

form label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  font-size: 12px;
  color: #d0ab81;
  letter-spacing: 0.9px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 6px;
  color: #000;
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px; 
}

.password-container .eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #8B4513;
  cursor: pointer;
}

.password-container .eye-icon:hover {
  color: #A0522D;
}

.extra-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap; 
}

form button {
  margin: 15px auto;
  padding: 10px 20px;
  width: 80%;
  max-width: 300px;
  background: #8B4513;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background: #ac8051;
}

.or-divider {
  margin: 10px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* Social Login Buttons */
.social-login {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.social-btn img.social-icon {
  width: 100%; 
  height: 100%; 
  border-radius: 5px; 
  object-fit: cover; 
}

.social-btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: #FFD700;
}

a:hover {
  color: #ac8051;
  text-decoration: underline;
}